<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Yape Sprint 6</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="./../node/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
	  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
	  <section class="contain">
		<div class="row paddTop-50">
			<img class="responsive-img col s4 offset-s4" src="../img/icons/check.png">
		</div>
		<div class="row">
			<h5 class="center"><strong>¡Bien!</strong></h5>
			<h5 class="center"><strong>Ahora puedes usar Yape</strong></h5>
	    </div>

	  </section>
	  <script type="text/javascript" src="./../node/jquery/dist/jquery.min.js">  </script>
 	  <script src="./../node/materialize-css/dist/js/materialize.min.js"></script>
 	  <script type="text/javascript" src="../assets/js/index.js"></script>
	</body>
</html>