<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Yape Sprint 6</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="./../node/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
	  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
	  <section class="contain">
		<div>
			<a href="card.html"><i class="material-icons md-48 gray-dark">keyboard_arrow_left</i></a>
			<a href="#"><i class="material-icons right">help_outline</i></a>
		</div>
		<div class="row marginTop-15">
			<img class="responsive-img col s4 offset-s4" src="../img/icons/bcp-logo.png">
		</div>
		<div class="row">
			<h5 class="center"><strong>RIngresa la clave de tu tarjeta</strong></h5>
		    <p class="center gray-text">Tarjeta <strong id="cardRegistered" class="gray-dark"></strong></p>
	    </div>
	    <form id="formNip">
	        <div class="input-field row">
			  <div class="input-field">
			    <div class="gray-text col s10 offset-s1">
	            	<i class="material-icons prefix">lock_outline</i>
	            	<input id="cardNip" type="number" class="center validate">
	            </div>
	          </div>
	        </div>
            <div class="row center marginTop-15">
		      <button id="btn-next4" class="btn waves-effect waves-light btn-yellow" type="submit" name="action" disabled>REGISTRAR</button>
		    </div>
	    </form>

	  </section>
	  <script type="text/javascript" src="./../node/jquery/dist/jquery.min.js">  </script>
 	  <script src="./../node/materialize-css/dist/js/materialize.min.js"></script>
 	  <script type="text/javascript" src="../assets/js/index.js"></script>
		<script type="text/javascript" src="../assets/js/card.js"></script>
	</body>
</html>
