<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Yape Sprint 6</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="./../node/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
	  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
	  <section class="contain purple-dark white-text">
  		<div class="purple-light">
  			<div class="row">
  				<img class="responsive-img offset-s10 col s2" src="../img/icons/engine.png">
  			</div>
  			<div class="row ">
  				<img class="responsive-img offset-s4 col s4" src="../img/icons/happy-face.png">
  			</div>
  			<h5 class="offset-s1 col s10 center"> Hola</h5>
  			<div class="row">
  				<img class="responsive-img offset-s3 col s2" src="../img/icons/eye.png">
  				<p class="col s5 condiciones">
  					Mostrar saldo
  				</p>
  			</div>
  		</div>
  		<form>
        <div class="row">
          <div class="col s12 input-field">
            <div class="select-wrapper disabled white-Text">
              <span class="caret white-Text">▼</span>
              <input type="text" class="white-Text select-dropdown" readonly="true" disabled="" value="ÚLTIMOS MOVIMIENTOS">
              <ul class="dropdown-content select-dropdown ">
                <li class="disabled "><h5>ÚLTIMOS MOVIMIENTOS</h5></li>
                <li class=""><span>Option 1</span></li>
                <li class=""><span>Option 2</span></li><li class=""><span>Option 3</span></li>
              </ul>
              <select disabled="" class="initialized">
              <option value="" disabled="" selected="">Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select></div>
          </div>
        </div>
  		</form>
  			<div class="row">
  				<img class="responsive-img col s4" src="../img/icons/icon.png" alt="happy-face" >
  				<br>
  				<span class="col s6">
  					¿Aún no tienes tu primer pago?
  					<br>
  					Es rápido y sencillo
  				</span>
  			</div>
  			<div class="row marginTop-15">
  				<img src="../img/icons/send.png" alt="" class="responsive-img offset-s2 col s3">
  				<img src="../img/icons/code-qr.png" alt="" class="responsive-img offset-s2 col s3">
  			</div>
  			<div class="row">
  				<h6 class="offset-s1 col s5 center">ENVIAR PAGO</h6>
  				<span class="col s5 center">RECIBIR PAGO</span>
  			</div>

	  </section>
	  <script type="text/javascript" src="./../node/jquery/dist/jquery.min.js">  </script>
 	  <script src="./../node/materialize-css/dist/js/materialize.min.js"></script>
 	  <script type="text/javascript" src="../assets/js/index.js"></script>
	</body>
</html>
