<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Yape Sprint 6</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link type="text/css" rel="stylesheet" href="./../node/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
	  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
	  <section class="contain">
		<div class="row marginTop-15">
			<img class="responsive-img col s4 offset-s4" src="../img/icons/phone.png">
		</div>
		<div class="row">
			<h5 class="center"><strong>Para comenzar validemos tu número</strong></h5>
		    <p class="center gray-text">Recibirás un SMS con un código de validación.</p>
	    </div>
	    <form id="formPhone">
		    <div class="input-field row">
			  <div class="input-field col s10 offset-s1">
			    <div class="gray-text"> 
	            	<i class="material-icons prefix">phonelink_ring</i>	            	
	            	<input id="phoneNumber" type="tel" class="center validate">
	            	<label for="phoneNumber">(+51)</label>
	            </div>	            
	          </div>
	        </div>
	    	<div class="center col s8">
		      <input id="term-conditions" type="checkbox" class="filled-in validate" />
		      <label for="term-conditions">Acepto los <a href="#">Términos y Condiciones</a></label>
		    </div>
		    <div class="row center marginTop-15">
		      <button id="btn-next" class="btn waves-effect waves-light btn-yellow" type="submit" name="action" disabled>CONTINUAR</button>
		    </div>
	    </form>

	  </section>
	  <script type="text/javascript" src="./../node/jquery/dist/jquery.min.js">  </script>
 	  <script src="./../node/materialize-css/dist/js/materialize.min.js"></script>
 	  <script type="text/javascript" src="../assets/js/index.js"></script>
	</body>
</html>