section.contain{
	height: 100vh;
}
.carousel-height{
	min-height: 100vh;
}
.img-height{
    height: 180px;
    display: inline-block;
    width: 70%;
    margin: 15% 0 0 0;
}
.gray-text{
	color: #8f8f8f;
}
.btn-yellow{
	background-color: #fbd43b;
}
.width-80{	
	width: 80%;	
}
.padd__sides-10{
	padding: 0 10px;
}
.carousel .indicators .indicator-item.active {
    background-color: #f64552;
}
.carousel .indicators .indicator-item {
    background-color: #8f8f8f;
}
.carousel .indicators {
    bottom: 17%;
}
.marginTop-20{
	margin-top: 20%;
}